<div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <p style="font-size:30px; font-weight: bold; color:#27252d;">Our Dr. Dr. Becomes A Little More <span style="background-color:#8f9e9e; color: #e8dabb; opacity: 0.9; border: 1px solid #925b3b;"> GERIATRIC </span> 
                    </p>
                </div>
                <!-- /Section header -->
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="about" style="background-color: #8f9e9e; border: 3px solid #925b3b">
                      <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#e8dabb"></i>
                      <p style="font-size:25px; color:#27252d">HAPPY BIRTHDAY TO OUR WORLD-CLASS PROBLEM-SOLVER.</p>
                  </div>
              </div>
            </div>
            <div class="row">
              <!-- about -->
              <div class="col-md-4">
                  <div class="about" style="background-color: #8f9e9e; border: 3px solid #925b3b;">
                      <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#e8dabb"></i>
                      <p style="font-size:20px; color:#27252d">Doğum günün kutlu olsun!!!</p>
                  </div>
              </div>
              <!-- /about -->

              <!-- about -->
              <div class="col-md-4">
                  <div class="about" style="background-color: #8f9e9e; border: 3px solid #925b3b">
                      <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#e8dabb"></i>
                      <p style="font-size:20px; color:#27252d">C днем ​​рождения!!!</p>
                  </div>
              </div>

              <!-- about -->
              <div class="col-md-4">
                  <div class="about" style="background-color: #8f9e9e; border: 3px solid #925b3b">
                      <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#e8dabb"></i>
                      <p style="font-size:20px; color:#27252d">Joyeux anniversaire!!!</p>
                  </div>
              </div>

            <h2>May life brings us many more magical road trips...</h2>
            <h3>And many more treasure hunts!</h3>
            <h4  display="block"; margin-top="1em"; >To embark upon this one, you must scroll down these 34 images.</h4>
            </div>
            <div class="image-gallery">
              <img src="assets/img2/01.png">
              <img src="assets/img2/02.png">
              <img src="assets/img2/03.png">
              <img src="assets/img2/04.png">
              <img src="assets/img2/05.png">
              <img src="assets/img2/06.png" alt="">
              <img src="assets/img2/07.png" alt="">
              <img src="assets/img2/08.png" alt="">
              <img src="assets/img2/09.png" alt="">
              <img src="assets/img2/10.JPG" alt="">
              <img src="assets/img2/11.JPG" alt="">
              <img src="assets/img2/12.JPG" alt="">
              <img src="assets/img2/13.JPG" alt="">
              <img src="assets/img2/14.JPG" alt="">
              <img src="assets/img2/15.JPG" alt="">
              <img src="assets/img2/16.JPG" alt="">
              <img src="assets/img2/17.JPG" alt="">
              <img src="assets/img2/18.JPG" alt="">
              <img src="assets/img2/19.JPG" alt="">
              <img src="assets/img2/20.jpg" alt="">
              <img src="assets/img2/21.jpeg" alt="">
              <img src="assets/img2/22.jpeg" alt="">
              <img src="assets/img2/23.jpeg" alt="">
              <img src="assets/img2/24.jpeg" alt="">
              <img src="assets/img2/25.jpeg" alt="">
              <img src="assets/img2/26.png" alt="">
              <img src="assets/img2/27.JPG" alt="">
              <img src="assets/img2/28.JPG" alt="">
              <img src="assets/img2/29.JPG" alt="">
              <img src="assets/img2/30.jpeg" alt="">
              <img src="assets/img2/31.JPG" alt="">
              <img src="assets/img2/32.JPG" alt="">
              <img src="assets/img2/33.JPG" alt="">
              <img src="assets/img2/34.JPG" alt="">
            </div>
        </div>
      <div class="row">
        <h1>HINT</h1>
        <h2>All roads lead to...</h2>
        <h2>NANDOS!!!</h2>
      </div>
    </div>
<!-- /About -->
