<div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <p style="font-size:36px; font-weight: bold; color:#1a232b; padding-bottom:10px;">Welcome to Igor & Lidija's <span style="color:#925b3b; background-color: #e8dabb; opacity: 0.9;">Chronicles</span> 
                    </p>
                    <p>
                        <h3 style="text-align: center; color:#1a232b">Behold the companion guide to an <b>ongoing seminar series</b> on Igor Mel'čuk and Lidija Iordanskaja's (almost) 2 centuries' worth of linguistic work and love for Russian poetry.</h3>
                    </p>
                    <!-- <p>
                      <h3 style="text-align: center; color:#5f362e">Email to subscribe.</h3>
                  </p> -->
                </div>
                <!-- /Section header -->
            </div>
            <div class="row">
              <!-- about -->
              <div class="col-md-6">
                  <div class="about" style="background-color: #e8dabb;">
                      <i class="fa fa-calendar-o" style="color:#925b3b"></i>
                      <h3 style="color:#1a232b">We’re Back!</h3>
                      <p style="color:#1a232b">Initiated during the 2020 pandemic, my grandparents' virtual seminars are now resuming where they left off in 2021. The bi-weekly lectures will alternate between discussions on Russian poets and topics in linguistics. For those of you who do not know Igor, he is unbelievably eager to impart his decades’ worth of knowledge to you.</p>
                  </div>
              </div>
              <!-- /about -->

              <!-- about -->
              <div class="col-md-6">
                  <div class="about">
                      <i class="fa fa-paint-brush" style="color:#925b3b"></i>
                      <h3 style="color:#1a232b">The Art of Storytelling</h3>
                      <p style="color:#1a232b">Although not a historian by training, Igor Mel'čuk is a world-class linguist who also just so happens to be a world-class story teller. His wife and lifelong colleague – Lidija Iordanskaja – will be diligently by his side to ensure that he does not stave too far from history into the realm of myth.<br><br></p>
                  </div>
              </div>
              <!-- /about -->
            </div>

            <!-- Schedule -->
            <h3>Upcoming Lectures</h3>
            {%- for post in site.posts -%}
            {% if post.past == false %}
              {% assign mod = forloop.index | modulo: 2 %}
              <div class="row">
                {% if mod == 0 %}
                  <div class="card-right">
                {% else %}
                  <div class="card-left">
                {% endif %}
                    <div class='card-image'>
                      <img src="{{ post.image }}">
                    </div>
                    <div class='card-text' style="text-align: left;">
                      <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-default" style="text-align: left; display: block; color:#895151;">
                        {{ post.custom_date }}<br>
                        {{ post.time }}<br>
                        {{ post.title }}<br>
                      </a>
                    </div>
                  </div>
              </div>
            {% endif %}
            {%- endfor -%}

            <h3>Previous Lectures</h3>
            {%- for post in site.posts -%}
            {% if post.past == true %}
              {% assign mod = forloop.index | modulo: 2 %}
              <div class="row">
                {% if mod == 0 %}
                  <div class="card-right">
                {% else %}
                  <div class="card-left">
                {% endif %}
                    <div class='card-image'>
                      <img src="{{ post.image }}">
                    </div>
                    <div class='card-text' style="text-align: left;">
                      <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-default" style="text-align: left; display: block; color:#895151;">
                        {{ post.date | date: "%-d %B %Y" }}<br>
                        {{ post.time }}<br>
                        {{ post.title }}<br>
                      </a>
                    </div>
                  </div>
              </div>
            {% endif %}
            {%- endfor -%}          
            <!-- /about -->
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
<!-- /About -->
