<div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <p style="font-size:36px; font-weight: bold; color:black; padding-bottom:10px;">Welcome to Igor & Lidija's 
                        <span style="color:white; background-color: blue;opacity: 0.9;">R</span><span style="color:white; background-color: red;opacity: 0.9;">U</span><span style="color:white; background-color: blue;opacity: 0.9;">S</span><span style="color:white; background-color: red;opacity: 0.9;">S</span><span style="color:white; background-color: blue;opacity: 0.9;">I</span><span style="color:white; background-color: red;opacity: 0.9;">A</span> 
                    </p>
                    <p>
                        <h3 style="text-align: center; color:#868F9B">Ongoing seminars on Igor Mel'čuk and Lidija Iordanskaja's linguistic work and love for poetry.</h2>

                        <p>Initiated by their granddaughter Nadia during the 2020 pandemic, we are now resuming where we left off in 2021.<p>

                          <p>The bi-weekly lectures will alternate between discussions on Russian poets and topics in linguistics.</p>

                    </p>
                </div>
                <!-- /Section header -->
            </div>

            <!-- Schedule -->
            <h3>Upcoming Lectures</h3>
            {%- for event in site.data.schedule.main -%}
              {% if event.past == false %}
                <div class="row">
                    <div class='card-left'>
                      <div class='card-image'>
                        <img src='assets/images/2020-10-07-1956_igor.jpg'>
                      </div>
                      <div class='card-text'>
                        <p>{{event.date}}</p>
                        <p>{{event.time}}</p>
                        <p>{{event.topic}}</p>
                      </div>
                    </div>
                </div>
              {% endif %}
            {%- endfor -%}
            <!-- Schedule 
            <table>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Topic</th>
                </tr>
                <tr></tr>
                {%- for event in site.data.schedule.main -%}
                <tr>
                  <td>{{event.date}}</td>
                  <td>{{event.time}}</td>
                  <td>{{event.topic}}</td>
                </tr>
                {%- endfor -%}
              </table>
            
            <p>
                <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].previous_lectures | default: "Previous Lectures" }}</h3>
                {% include previous_lectures.html %}
            </p>
            -->
            <!-- Schedule -->

            <div class="row">
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-book"></i>
                        <h3>History</h3>
                        <p>Igor's brief history of Russia. Summaries and recording transcripts can be found here.</p>
                        <a href="https://igor-and-lidijas-russia.github.io/test2.io/history.html"> Read more </a>
                    </div>
                </div>
                <!-- /about -->

                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-paint-brush"></i>
                        <h3>Poetry</h3>
                        <p>Covering each poet with their notable works one session at a time.</p>
                    <a href="https://igor-and-lidijas-russia.github.io/test2.io/poetry.html"> Read more </a>
                    </div>
                </div>
                <!-- /about -->

                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-language"></i>
                        <h3>Linguistics</h3>
                        <p>An introduction to Igor & Lida's meaning-to-text linguistics, with summaries, resources and transcripts below.s</p>
                          <a href="https://igor-and-lidijas-russia.github.io/test2.io/linguistics.html"> Read more </a>


                    </div>
                </div>
            </div>
                <!-- /about -->


            
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /About -->
