<div class="share">
    <p style="background-color:#8f9e9e; color: #e8dabb; opacity: 0.9; border: 3px solid #925b3b;">
        The
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <span class="white-text2"><img src="{{ site.baseurl }}/assets/images/bio-picture.png" style="width: 2.2em;"/>
            </span>
        </li>
    </ul>
    <p style="background-color:#8f9e9e; color: #e8dabb; opacity: 0.9; border: 3px solid #925b3b;">
        Chroniclers
    </p>
    <div class="sep">
    </div>
    <ul>
        <li>
        <a  class="small smoothscroll" href="#disqus_thread"></a>
        </li>
    </ul>
</div>
